
body{
 /* background-image: url('./basketball-game-ocean-69773.jpg');
 background-size: cover;
 background-position-y: -1em;
 background-repeat: no-repeat;
 background-attachment: fixed; */
 background: linear-gradient(to top, rgb(218, 218, 218) 50%, #c7c3fa 50%);
 height:100vh;
}

