.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
 /* .divider{
   background-color: teal;
   padding: 4em;
 } */


body{
 /* background-image: url('./basketball-game-ocean-69773.jpg');
 background-size: cover;
 background-position-y: -1em;
 background-repeat: no-repeat;
 background-attachment: fixed; */
 background: linear-gradient(to top, rgb(218, 218, 218) 50%, #c7c3fa 50%);
 height:100vh;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



