/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

body{
  background-repeat: no-repeat!important;
  background-attachment: fixed;
  background: linear-gradient(to top, #fbf3f2 50%, #032539 50%)!important;
  /* height:100vh; */
  height:150%!important;
  margin:0;
 }
 
 