.sport {
    background-color: lightgreen!important;
}

.solo {
    width: 100%;
}

.han {
    width: 75%;
}
body{
    background-repeat: no-repeat!important;
    /* background-attachment: fixed; */
    background: linear-gradient(to top, #fbf3f2 50%, #032539 50%)!important;
    height:120%!important;
    /* margin: 0 auto; */
   }
   