.myPugs-background {
    background: #fbf3f2;
    height: 100%;
}


.my-jumbo {
    background-image: url("dice.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 15%;
    min-height: 250px;
}

.skill {
  
    color: #1C768F
}

@media (max-width: 100px) {
    .resp .skillDiv { width: 100%; }
  }

.icon {
    display: inline-block;
    text-align: center;
}

.pugsIveMade {

text-align:center;
margin-top:20px;
color:#032539;
border-radius: 20px 20px;
}

.pugsIveJoined {


text-align:center;
margin-top:20px;
margin-bottom:40px;
color: ##032539;
border-radius: 20px 20px;

}

.hrTag1 {

    border: 2px solid #032539;
}


.hrTag2 {

    border: 2px solid#032539;
}

.pup {

    float:right;
}

